<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ro.recomand.app">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <!-- Permissions options for the `storage` group -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

  <application
    android:label="Recomand"
    android:name="${applicationName}"
    android:icon="@mipmap/launcher_icon"
    android:requestLegacyExternalStorage="true"
    android:usesCleartextTraffic="true"
    android:roundIcon="@mipmap/launcher_icon_round">
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:theme="@style/LaunchTheme"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true"
      android:usesCleartextTraffic="true"
      android:windowSoftInputMode="adjustResize">
      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the
      Android process has started. This theme is visible to the user
                 while the
      Flutter UI initializes. After that, this theme continues
                 to determine the
      Window background behind the Flutter UI. -->
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme"
      />
      <intent-filter>
        <action android:name="FLUTTER_NOTIFICATION_CLICK" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      
      <!-- Deep Links -->
      <!-- Deep linking -->
      <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
    
        <!-- If a user clicks on a shared link that uses the "http" scheme, your
             app should be able to delegate that traffic to "https". -->
        <data android:scheme="http" />
        <data android:scheme="https" />
    
        <!-- Include one or more domains that should be verified. -->
        <data android:host="recomand.app"/>
        <data android:pathPrefix ="/register"/>
        <data android:pathPrefix ="/login"/>
        <data android:pathPrefix ="/request"/>
    </intent-filter>
    </activity>
    <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to
    generate GeneratedPluginRegistrant.java -->
    <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id"
      android:value="high_importance_channel" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/launcher_icon" />
    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />
  </application>
  <!-- Provide required visibility configuration for API level 30 and above -->
  <queries>
    <!-- If your app emails -->
    <intent>
      <action android:name="android.intent.action.SEND" />
      <data android:mimeType="*/*" />
    </intent>
    <!-- If your app checks for SMS support -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="sms" />
    </intent>
    <!-- If your app checks for call support -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="tel" />
    </intent>

    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>
</manifest>