<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116978822118-m3u1uneplk3nog8ut2uie3mf22d6s0fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116978822118-m3u1uneplk3nog8ut2uie3mf22d6s0fk</string>
	<key>API_KEY</key>
	<string>AIzaSyATzIu3OulykEsCMnMrUfUtqFLjjjVk1Q0</string>
	<key>GCM_SENDER_ID</key>
	<string>116978822118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.recomand.app</string>
	<key>PROJECT_ID</key>
	<string>localservices-5799c</string>
	<key>STORAGE_BUCKET</key>
	<string>localservices-5799c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116978822118:ios:afc3069597a07422ec0427</string>
</dict>
</plist>